* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #0000CD;
}

h1 {
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

button {
  padding: 10px 15px;
  background-color: #00adb5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #24757b;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.timer {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.puzzle-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  width: 600px;
  height: 600px;
  aspect-ratio: 1;
  object-fit: cover;
  border: 3px solid #333;
  background-color: #e5e5e5;
  touch-action: none;
}

.puzzle-piece {
  position: absolute;
  cursor: grab;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  user-select: none;
  transition: box-shadow 0.2s;
}

.puzzle-piece:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.puzzle-piece.dragging {
  z-index: 100;
  cursor: grabbing;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.puzzle-piece.placed {
  box-shadow: none;
}

.puzzle-grid {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: grid;
  pointer-events: none;
}

.success-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  z-index: 200;
  display: none;
}

#proxima-fase{
  display: none; 
  text-align: center;
  margin-top: 30px"
}
#proxima-fase h2{
  color: white;
}
#proxima-fase a{
  color: white;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 650px) {
  .puzzle-container {
    width: 400px;
    height: 400px;
  }
  
  h1 {
      font-size: 24px;
  }
  
  button {
      padding: 8px 12px;
      font-size: 14px;
  }
  
  select {
      padding: 8px;
      font-size: 14px;
  }
}

@media (max-width: 450px) {
  .puzzle-container {
    width: 300px;
    height: 300px;
  }
  
  h1 {
      font-size: 20px;
  }
}